@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #e6f4fd;

  color: #00446d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.i-b-header.is-open .i-b-header-background {
  left: 0;
}
.i-b-header-button-wrapper {
  margin-left: auto;
}
.i-b-header-icon {
  display: none;
}

.i-b-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.i-b-navigation-list.is-open {
  right: 0;
}
.i-b-header-icon-menu {
  display: block;
}

.i-b-header-icon-button.is-open .i-b-header-icon-menu {
  display: none;
}

.i-b-header-icon-button.is-open .i-b-header-icon-close {
  display: block;
}

.i-b-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #e6f4fd;
}

.i-b-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #e6f4fd;
}
.i-b-header.is-open .i-b-header-background {
  left: 0;
}
.i-b-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.i-b-header-icon-menu {
  display: block;
}
.i-b-header-icon-button {
  margin-top: -4px;
}
.i-b-header-icon-button.is-open .i-b-header-icon-menu {
  display: none;
}

.i-b-header-icon-button.is-open .i-b-header-icon-close {
  display: block;
}

.i-b-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.i-b-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 28px 0px;
  border-radius: 16px;
  gap: 24px;
  background: #e6f4fd;
}

.i-b-navigation-list.is-open {
  right: 0;
}

.i-b-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #00446d;
}

.i-b-navigation-link:hover,
.i-b-navigatioт-link:focus {
  color: #9dd9ff;
}

.i-b-header.is-open {
  background-color: transparent;
}

.i-b-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .i-b-navigation-img {
    display: block;

    margin-right: 501px;
  }
  .i-b-policy-terms-header-icon-menu {
    display: none;
  }
  .i-b-header-button-wrapper {
    display: none;
  }
  .i-b-header {
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .i-b-header-icon-button {
    display: none;
  }
  .i-b-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .i-b-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 8px 160px;
  }

  .i-b-navigation-link {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-b-navigation-item-desk {
    display: none;
  }
}

.i-b-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero.png");
  margin: auto;
}
.i-b-home-container {
  width: 375px;
  padding: 100px 16px 0px;
  margin: auto;
}

.i-b-home-title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}

.i-b-home-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1202px) {
  .i-b-home {
    width: 1440px;
    height: 657px;
    background-image: url("/img/Hero\ \(1\).png");
  }
  .i-b-home-container {
    width: 1440px;
    padding: 150px 160px 0px;
  }
  .i-b-home-title {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 72px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .i-b-home-text {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 24px;
    width: 544px;
  }
}
.i-b-about {
  margin: auto;
  width: 375px;
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Concept.png");
}
.i-b-about-container {
  width: 375px;
  padding: 64px 16px 0px;
  margin: auto;
}
.i-b-about-title {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.i-b-about-text-bold {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  padding: 8px 0 48px;
}

.i-b-about-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-b-about-text-span {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1202px) {
  .i-b-about {
    width: 1440px;
    height: 545px;
    background-image: url("/img/Concept\ \(1\).png");
  }
  .i-b-about-container {
    width: 1440px;
    padding: 80px 736px 0 160px;
  }
  .i-b-about-title {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .i-b-about-text-bold {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 8px 0 64px;
  }

  .i-b-about-text {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-b-about-text-span {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.i-b-why {
  margin: auto;
  width: 375px;
  height: 1742px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Modes.png");
}

.i-b-why-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px 0;
}
.i-b-why-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.i-b-why-item {
  background: #ffffff;
  width: 343px;
  height: 484px;

  border-radius: 16px;

  box-shadow: 0px 4px 6px 0px #1a2e4126;
}
.i-b-why-img {
  width: 343px;
  height: 343px;
}
.i-b-why-text-bold {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 16px 17px;
}
.i-b-why-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 17px 16px 16px;
}

@media screen and (min-width: 1202px) {
  .i-b-why {
    width: 1440px;
    height: 828px;
    background-image: url("/img/Modes\ \(1\).png");
  }
  .i-b-why-container {
    width: 1440px;
    padding: 80px 160px 0;
  }
  .i-b-why-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .i-b-why-item {
    width: 352px;
    height: 502px;
  }
  .i-b-why-img {
    width: 352px;
    height: 352px;
  }
  .i-b-why-text-bold {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .i-b-why-text {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.i-b-uniqueness {
  margin: auto;
  width: 375px;
  height: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-image: url("/img/Core\ Mechanics.png");
}
.i-b-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}
@media screen and (min-width: 1202px) {
  .i-b-uniqueness {
    width: 1440px;
    height: 515px;
    background-image: url("/img/Core\ Mechanics\ \(1\).png");
  }
  .i-b-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 159px 0 736px;
  }
}
.i-b-how {
  margin: auto;
  width: 375px;
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ The\ Wind\ Works.png");
}
.i-b-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}

@media screen and (min-width: 1202px) {
  .i-b-how {
    width: 1440px;
    height: 524px;
    background-image: url("/img/How\ The\ Wind\ Works\ \(1\).png");
  }
  .i-b-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 736px 0 160px;
  }
}

.i-b-faq-container {
  padding: 64px 16px;
  width: 375px;
  margin: auto;
}
.i-b-faq-img {
  display: none;
}
.i-b-faq-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.i-b-faq-item {
  background: #ffffff;

  border-radius: 16px;
  padding: 16px;
}

.i-b-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-b-faq-answer {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.i-b-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.i-b-toggle-button img {
  width: 32px;
  transition: transform 0.3s ease;
}
.i-b-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.i-b-faq-answer.open {
  max-height: 700px;
  opacity: 1;
  padding-top: 16px;
}

.i-b-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1202px) {
  .i-b-faq-container {
    padding: 80px 160px;
    width: 1440px;
    margin: auto;
  }
  .i-b-faq-wrapper {
    display: flex;
    gap: 31px;
    padding-top: 64px;
  }
  .i-b-faq-img {
    display: block;
    width: 353px;
    height: 588px;

    border-radius: 16px;
  }
  .i-b-faq-list {
    padding-top: 0px;
  }

  .i-b-faq-question {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .i-b-faq-answer {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.i-b-policy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-b-policy-terms-container h1 {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;

  margin-bottom: 20px;
}
.i-b-policy-terms-container h2 {
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}
.i-b-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}
.i-b-policy-terms-container p {
  margin-bottom: 20px;
}
.i-b-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1202px) {
  .i-b-policy-terms-container {
    padding: 140px 160px 80px;
    width: 1440px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .i-b-policy-terms-container h1 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .i-b-policy-terms-container h2 {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .i-b-policy-terms-container p {
  }
}

.i-b-footer-container {
  width: 375px;
  padding: 40px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #e6f4fd;
  gap: 40px;
}

.i-b-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.i-b-footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.i-b-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.i-b-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
}
.i-b-footer-link {
  text-decoration: none;
  color: inherit;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1202px) {
  .i-b-footer-container {
    width: 1440px;
    padding: 40px 160px 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #e6f4fd;
    gap: 40px;
  }

  .i-b-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .i-b-footer-text {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }

  .i-b-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }
  .i-b-footer-link {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.i-b-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 32px;
  border-radius: 32px;
  background: #00446d;
  z-index: 1000;
  display: none;
}

.i-b-cookie-popup-text-two {
  color: #ffffff;
  font-family: poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.i-b-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.i-b-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 256px;
  height: 55px;

  border-radius: 28px;
  color: #ffffff;
  font-family: poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

#accept-cookies {
  color: #00446d;
  background: #ffffff;
}

.i-b-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1202px) {
  .i-b-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .i-b-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
  }

  .i-b-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .i-b-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;
    padding: 32px;
    display: none;
  }
}
